# Assignment 1 
Hint: some method needed to solve these exercises have not been introduced so far. Follow the hints and use the ***pandas*** documentation.

In [ ]:
#get data
!git clone https://github.com/keuperj/DATA.git


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2.
Browse the data file in ``DATA/u.user.csv``. What does this data set represent?

### Step 3. Read the CSV data into a pandas DataFrame. Assign it to a variable called users and use the 'user_id' as index

In [1]:
data = pd.read_csv('DATA/u.user.csv')
print(data)

NameError: ignored

### Step 4. Print the first 25 entries

In [ ]:
print (data[:25])

### Step 5. Print the last 10 entries

In [ ]:
last_10_entries = data.tail(10)  
print(last_10_entries)

### Step 6. What is the number of observations in the dataset?

In [ ]:
df = pd.DataFrame(data)

### Step 7. What is the number of columns in the dataset?

In [ ]:
df.shape

### Step 8. Print the name of all the columns.

In [ ]:
print(list(df.columns))

### Step 9. How is the dataset indexed?

In [ ]:
first = df[list(df.columns)]
print (first)

### Step 10. What is the data type of each column?
Hint: this works like in NumPy

### Step 11. Print only the occupation column

### Step 12. How many different occupations there are in this dataset? 
Hint: try the ``nunique()`` function.

### Step 13. What is the most frequent occupation?
Hint: ``value_counts()``

### Step 14. Summarize the DataFrame.

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

### Step 18. What is the age with least occurrence?